/* Your Website Styles */
html  {background: #68564A;}

h1 {
      font-family: 'Averia Sans Libre', cursive;
      font-size: 2em;
      background: #E65C90;
      text-align: center;
      width: 100%;}

p {color: #E65C90;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;}

section {
          height: 6.25em;
          width: 100%;
          position: relative;}

img {transition: 100 1s;}


/* Gallery Styling */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  width:100%;
  height: 25em;
  overflow: hidden;
  text-align: center;
  background: #7AB2A9;
}
.gallery .controls {
  position: absolute;
  bottom: -7.5em;
  width: 100%;
  text-align: center;
  background: #E65C90;}

  .gallery .controls img {display: center ;border-style: .125em .25em solid white;}
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}


@media screen and (max-width: 490px) {.controls, section   {display: none;}

}

@media screen and (max-width: 680px) { .controls, .logo, section {display: none;}
  
}

@media screen and (max-width: 1024px) {
  
}

/* Show Grid 
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}*/


