/* Your Website Styles */

h1 {  padding: .5em;
      margin: .5em;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 2em;
      background: #E65C90;
      text-align: center;
}

p {color: #E65C90;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;}

section {
          height: 6.25em;
          width: 100%;
          position: relative;}


/* Gallery Styling */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}
/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
  height: 100%;
}
.gallery .item {
  width:100%;
  height: 26em;
  overflow: hidden;
  text-align: center;
  background: #68564A;}

.gallery .controls {
  position: absolute;
  bottom: -7.5em;
  width: 100%;
  text-align: center;
  background: #E65C90;}

.gallery .controls img {display: center ;border-style: .125em .25em solid white;}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}



#logo { min-width: 680px;
        max-width: 1024px;
        position: relative;
        float: left;
        display: block;
        width: 100%;}

#logo { background-color: #7AB2A9;
        background-image: url("../img/logo.png") repeat-y;
        width: 100%;
        height: 100%;}

#logo img {background-color: #7AB2A9;
        background-image: url("../img/logo.png") repeat-y;}

@media screen and (max-width: 490px) {.controls, .logo   {display: none;}

}

@media screen and (max-width: 680px) { .controls, .logo   {display: none;}
  
}

@media screen and (max-width: 1024px) {
  
}

/* Show Grid 
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}*/


